*{
    margin: 0px;
    padding: 0px;
}
.menu_container{
    background-color: rgb(70, 68, 68);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.logo-img{
    width: 200px;
}
.menus{
    
    display: flex;
    justify-content: space-between;
    
}
.items{
    padding: 10px;
    align-items: center;
    margin-right: 20px;
}
/* Banner Section */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100vh;
    padding: 20px;
    background-color: black;
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(8, 7, 7),rgb(54, 35, 35));
    background-repeat: no-repeat;
}
.banner-title{
    font-size:60px;
    font-weight: bold;

}
.banner-description{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 10pxs;
}
.banner-logo{
    width: 300px;
}
/* About Section */
.about-title{
    text-align: center;
    margin: 30px 0px;
    font-size: 60px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin: 70px 0px;
}
.about-heading{
    font-size: 40px;
    margin: 20px 0px;
}
.about-description{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-banner-logo{
    width: 400px;
}

/* service Section */
.all-service-container
{
    color: white;
    
    padding: 60px;
    background-color: black;
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(8, 7, 7),rgb(54, 35, 35));
    background-repeat: no-repeat;
}
.service-title{
    font-size:60px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.service-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.box-container{
    color: white;
    text-align: center;
    padding: 20px 10px;
    height: 330px;
    width: 250px;
    /* border: 5px solid rgb(95, 85, 85); */
    box-shadow: 5px 16px 20px 15px rgba(233, 210, 210, 0.19);
    border-radius: 10px;
    margin: 20px 20px 20px 0px;
}
.service-box-title{
    padding: 20px 0px;
}
.service-img{
    width:100px;
}
.service-btn{
    background-color: rgb(92, 84, 84);
    padding: 10px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    color: white;
}
/* Footer */
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 200px 150px;
    /* margin-top: 50px; */
    background-color: black;
    color: white;
}
.logo-img-footer{
    color: white;
    width: 250px;
    margin-bottom: 10px;
}
.link-support{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.links{
    margin:0px  100px;
    
}
li{
    margin: 10px 0px;
}
h3{
    font-size: 30px;
    margin-bottom: 40px;
}
hr{
    margin: 0px 150px;
    color: gray;
    
}
.copy-symbol{
    text-align: center;
    /* margin: 50px; */
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
}
footer{
    background-color: black;
}